.quote-box {
    padding: 60px;
    border-radius: 24px;
    background-color: #3f2f4c38;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(8px) saturate(230%) contrast(100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box * {
    opacity: 0.6;
}